<footer>
    <div class="left visible-desktop">
        <p>We proudly support <a href="/dealers">local retailers</a></p>
        <p>Ask your local gun store about Northtech products</p>
        <img src="/img/flag.jpg" alt="" >
        <p>Made in the USA</p>
    </div>
    <img src="/img/flag.jpg" alt="" class="visible-tablet visible-phone">

    <div class="right">
        <p>Contact Us: <a href="mailto:info@northtechdefense.com">info@northtechdefense.com</a> </p>
        <p>Hubbard, OR</p>
        <p>503-902-0490</p>
        <p>&copy;  <%= Time.now.year %> NORTHTECH DEFENSE</p>
    </div>
</footer>
