---
title: AR15 Billet Uppers
layout: layout
---

<section>
    <h1>AR15 Billet Uppers</h1>
    <!-- <div class="model">MODEL# NT15S</div>
    <div class="price">MSRP $249.00</div> -->
    <script>
     $(document).ready(function() {
        $('.AR15BilletUppers').magnificPopup({type:'image'});
    });
    </script>

    <div class="lightbox_products">
         <a href="AR15BilletUppers/1_lg.png" class="AR15BilletUppers">
        <img src="AR15BilletUppers/1_sm.png" alt="">
    </a>
    <a href="AR15BilletUppers/2_lg.png" class="AR15BilletUppers">
        <img src="AR15BilletUppers/2_sm.png" alt="">
    </a>


    </div>




    <p>Machined from High Grade Aerospace Billet Aluminum 7075-T6
Magwell flare is increased for smooth magazine loads
Lower to upper nylon tipped tensioning screw
Added 3-D machined mid to magazine design, for strength and style.
Standard Military Spec Black Anodizing
Matched to fit all standard mil spec uppers
Matched perfectly to fit Northtech billet Upper Receivers
Basic Hardware included bolt catch screw
Solid trigger guard for added style and strength
9.25 oz</p>

<p>Check stock with one of our <a href="/dealers"> dealers</a> or Call 503-902-0490 to order.</p>
</section>
