---
title: About Northtech
layout: layout
---
<article>
    <h2>About Northtech</h2>
    <p>Northtech Defense was founded by Dustin
Humbert in 2012. Northtech’s passion is to produce only high quality, firearm and related
products, which lead or can be compared to the best in the industry, in all aspects. </p>
<p>Coming from a background in manufacturing with CNC machining-tooling and design Dustin
has a history of producing firearm related products for other small to large-size
companies. With this opportunity Dustin has been able to work with passionate individuals
in military, law enforcement and local firearm industry experts. This has birthed a vision
of quality Northwest firearms that are made with only USA metals-materials and a USA labor
force for all our products. </p>
<p>We desire to only make and sell the best products
because you deserve the best. We understand that this means continually improving our
products to better serve you. This breaks down to tighter tolerances, domestic material, a
solid supply chain, better QC processes, and all consumer feedback, (military/law
enforcement, or recreation input) is essential. </p>


<p>We feel our products need to “start out on the right foot” to be successful. Our desire
is that you purchase a Northtech product and always find it more valuable than the MSRP.
Again, our products are only made because of our desire to manufacture quality. The way we
accomplish this: not cutting corners, by including more detail in the product for the
dollar, USA material and Labor, and closer tolerances.  We believe people recognize
quality when they see it and we know that you’ll find the quality you’re looking for in
our products. We stand by our products with 100% replacement against manufacturing, or
material defects. Please contact us to give feedback, thank you for your business.   </p>


</article>
